<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ezcS0Yx6B0PGLXwOhRsjOb06MnpVXBM6Da2RzPtnnAkxEfSiIkn0yYSJ/bYHbdpYR0tM
	UAQhA9u6xFc7I9ABDL7P8Fp+W4EQxYsSbiLi9i29ls9I5sCCtXgPBqaYMYDaIks4/g9Z
	96r+7CQ+//zj5Wl3VIMhWkPLaQvg613DTcA=
	</data>
	<key>answer</key>
	<string>1104426232_1B0795E985D42E9C5A96EACA7B254228</string>
	<key>components</key>
	<string>free;operagx;operagx.build_module;ff_e_gx_mod_wallpaper</string>
	<key>device_id</key>
	<string>1B0795E985D42E9C5A96EACA7B254228</string>
	<key>email</key>
	<string>sasaentrainementpdg@gmail.com</string>
	<key>id</key>
	<string>3429588</string>
	<key>name</key>
	<string>sasaentrainementpdg@gmail.com</string>
	<key>resource_limits</key>
	<string>H4sIAAAAAAAEAGWPQYvCQAyFzxb8D9LzHtwFL97EVdnTFqfgeWyjRtvJkKYgiv/d6VRslj2+Ly8vL/dxMkqNZxRIJ/PJ1/SjAzlW0IA0EUViqHVl1J+9JbNyinrWzwtGL9pgTrYEjqQHa3KiNnKsoUIH6sjv/gzFK6Q3bYnqJh29l76t2ENXbohdXQVcg+QUW5I74FGBHK7SMmT2CAZvMAwyW1wCXDJYCRnDIDzMBYQgYaoG/FN7YtHX/2qzWyvhw3//SmyYWq+6LdoSScFx8ngC2rrfEpYBAAA=</string>
	<key>status</key>
	<string>success</string>
	<key>token</key>
	<string>5edbf335bcf27310926411eda405ca3b</string>
</dict>
</plist>